img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
table {
    text-align: center;
    color: red;
    position: absolute;
    left:100px;
    top: 210px;

}
h1 {
    text-align: center;
    font-style: italic;
    font-size: 40px;

}
button {
    background-color:rgba(0,0,0,0);
    font-size: 15px;
    color: red;
    border:none;
    text-align: center;
    width: 30px;
}    
