html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h1 {
  font-size: 80px;
  text-align: center;
}
img {
  position: center;
  z-index: -1;
}
#qScreen {
  width: 456px;
  height: 200px;
  background-color: rgb(99, 99, 193);
  align-items: center;
  justify-content: center;
  position: absolute;
  left:545px;
  top:305px;
  color: red;
  box-shadow: 0 0 10px #315d6b;
}
#sScreen {
  width: 456px;
  height: 88px;
  background-color: rgb(99, 99, 193);
  align-items: center;
  justify-content: center;
  position: absolute;
  left:545px;
  top:508px;
  color: red;
  box-shadow: 0 0 10px #315d6b;
}

#allPads {
    text-align: center;
    color: red;
    position: absolute;
    left:133px;
    top:270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.catagory {
 color: rgba(red, green, blue, alpha);
    font-size: 15px;
 height: 45px;
                             
}

.qPads {
  height: 80px;
  width: 80px;
  margin: 5px;
  border-radius: 6px;
  background-color: rgb(129, 119, 119);
  font-size: 2rem;
  border: 1px solid rgb(59, 50, 50);
  color:rgb(112, 15, 15);  
  text-align: center;
    
}
.qPads:hover {
  background-color: rgb(135, 84, 84);
  color: rgb(255, 0, 0);
  box-shadow: 0 0 10px #ffc600;
}

.drum {
    height: 80px;
    width: 80px;
    margin: 5px;
    border-radius: 6px;
    background-color: transparent;
    font-size: 2rem;
    border: 1px solid grey;
    color:red;
}
.pads {
  text-align: center;
  color: red;
  position: absolute;
}
.hidden {
  display: none! important;
}
.visible {
  display: grid;
  left: 133px;
  top: 270px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#qText {
  font-size: 35px;
}    
.answer {
  font-size: 25px;
  text-align: end;
  text-anchor: initial;
  margin: 10px 
}
#sBox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: yellow;
}



/* drum machine  */